<!DOCTYPE html>
{% load static %}

<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- Swiper js -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    
    <!-- Custom StyleSheet -->
    <link rel ="stylesheet" type="text/css" href ="{% static 'home/css/styles.css' %} ">
    <title>rent</title>
  </head>
  <body>
    <!-- Header -->




    <section class="section rent">
      <div class="title">
        <h1>مشاور املاک بابا</h1>
        <br>
        <p>
ما سال هاست در صنعت معاملات املاکی  تجربه داریم 
        </p>
        <p>ما یک تیم مهندسی عمران و معماری در ساخت و ساز و خرید و فروش ملک های کهنه و جدیدی هستیم </p>
        <p>برای خرید یا فروش میتوانید بصورت رایگان نظر بگیرید یا برای مشارکت در ساز اماده  کمک هستیم </p>  
    
    </div>


      

      </section> 


  
    


  </body>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src = "{% static 'home/js/index.js'  %} " ></script>
  <script src = "{% static 'home/js/slider.js'  %} " ></script>
</html>
